/*
 * CreationHeader styles
 * Note: Most styles are inherited from parent TournamentCreation.css
 * This file is for component-specific overrides if needed
 */

.creation-header {
  /* Styles defined in TournamentCreation.css */
}

.back-button {
  /* Styles defined in TournamentCreation.css */
}
