/*
 * MyScorecardsSection styles
 * Note: Most styles are inherited from parent TournamentDetail.css
 * This file is for component-specific overrides if needed
 */

.my-scorecards-section {
  /* Styles defined in TournamentDetail.css */
}

.my-scorecards-list {
  /* Styles defined in TournamentDetail.css */
}

.scorecard-item {
  /* Styles defined in TournamentDetail.css */
}

.active-scorecard {
  /* Styles defined in TournamentDetail.css */
}
