/*
 * WinnerBanner styles
 * Note: Most styles are inherited from parent TournamentDetail.css
 * This file is for component-specific overrides if needed
 */

.winner-banner {
  /* Styles defined in TournamentDetail.css */
}

.winner-trophy-icon {
  /* Styles defined in TournamentDetail.css */
}

.winner-content {
  /* Styles defined in TournamentDetail.css */
}

.winner-label {
  /* Styles defined in TournamentDetail.css */
}

.winner-name {
  /* Styles defined in TournamentDetail.css */
}

.winner-method {
  /* Styles defined in TournamentDetail.css */
}
